body {
  @apply font-[400] font-[Inter] text-[15px] text-dark-gray select-text selection:bg-blue selection:text-white;
}

input[type="text"],
input[type="password"],
textarea {
  @apply border border-dark-gray rounded-[8px] text-[16px] placeholder:text-[#79767C] focus:ring-blue focus:shadow-none text-dark-gray;
}

button[type="submit"] {
  @apply bg-dark-gray rounded-[8px] uppercase font-[Rubik] font-[500] hover:bg-yellow transition-colors;
}

button.inverse {
  @apply bg-yellow hover:bg-dark-gray uppercase;
}

input[type="checkbox"] {
  @apply border-dark-gray rounded-[2px] h-[15px] w-[15px];
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover,
input[type="checkbox"]:checked:focus {
  @apply bg-dark-gray;
}

.ui-modal {
  font-family: "Open Sans", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.ui-modal h1 {
  @apply text-[30px] font-[700] leading-[40px] mb-[20px];
}

.ui-modal h3 {
  @apply text-[25px] font-[500] leading-[30px] my-[20px];
}

.ui-modal p {
  @apply text-[16px] font-[400] leading-[30px];
}

a {
  @apply transition-colors text-dark-gray dark:text-fa-white
}

.router-link-active {
  @apply text-blue dark:text-yellow
}

a:hover {
  @apply text-blue transition-colors dark:text-yellow;
}

.v-enter-active {
  @apply transform ease-out duration-300 transition;
}

.v-leave-active {
  @apply transition ease-in duration-100;
}

.v-enter-to {
  @apply translate-y-0 opacity-100 sm:translate-x-0;
}

.v-enter-from {
  @apply translate-y-2 opacity-0 sm:translate-y-2;
}

.v-leave-to {
  @apply opacity-0;
}

.page-title {
  @apply font-[Rubik] text-[24px] font-[500] mb-[5px]
}

.content {
  @apply mt-[24px] bg-white rounded-[16px] dark:bg-dark-gray dark:border border-[#70706e] p-[24px]
}

.input {
  @apply py-[15px] px-[16px]
}

.input-label {
  @apply py-[15px] px-[16px] pl-[35px]
}