MONGODB_URI=mongodb://localhost:27017/kicks
SITE_URL=http://localhost:3000
AUTH_SECRET=
RESEND_API_KEY=
GITHUB_CLIENT_SECRET=https://github.com/settings/apps
GITHUB_CLIENT_ID=https://github.com/settings/apps
YANDEX_CLIENT_SECRET=https://oauth.yandex.com/client/new
YANDEX_CLIENT_ID=https://oauth.yandex.com/client/new